.form{
    background-color: rgb(170, 170, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding:30px 120px;
    color: white;
    border-radius: 10px;
    margin-bottom: 90px;
}
.form>*{
    margin:5px 0
}
.button2{
    
    font-size: 15px;
    font-weight:600;
    color: black;
    background-color: white;
    border:solid 1px black;
    padding:10px;

    border-radius: 7px;;
}

.button2:hover{
    color: red;
    text-decoration: underline;
}
label{

    /* text-decoration: underline; */
}